body
    font-family: 'Roboto', sans-serif;

::-webkit-scrollbar 
    width 0px
    background: transparent!important

::-webkit-scrollbar-track 
  background: transparent


.container
    max-width 1300px
    margin: 0 auto
    width calc(100% - 30px)

    &__mod
        margin-left: auto

.header
    
    &__container
        display: flex
        align-items: center
        justify-content: flex-start
        box-shadow: 700px 0 0 #a0a2a8, -700px 0 0 #104580

    &__mobile
        display: none

.logo
    background-color: #104580;
    padding: 18px 0

    &__link 
        display: block
        margin-right: 30px

.navigation
    flex: 1
    min-width 0px

.menu
    &__ul
        display: flex
        align-items: center
        justify-content: flex-start

    &__item
        padding: 0 30px

    &__link
        font-size: 15px;
        line-height: 24px;
        color: #1d2029;
        font-weight: 500;

    &-btn__close
        display: none 

.search
    border-left: 1px solid #ececec
    display: flex
    align-items: center
    padding: 0 20px
    flex: 0 0 450px
    min-width 0px

    &__form
        min-height: 70px  
        display: flex
        align-items: center

        input 
            border: none

        button
            background: transparent
            border: none 
            min-width 48px
        svg     
            fill: #707480
            width: 18px;
            height: 18px;
    
.breadcrumb
    min-height: 60px
    display: flex
    align-items: center

    &__container
        max-width 1300px
        margin: 0 auto
        width calc(100% - 30px)
        display: flex
        align-items: center
        justify-content: flex-start

    span
        color: #fff
        font-size: 13px;
        line-height: 14px;
        font-weight: 400;

.banners
    margin: 60px 0

    &__ul
        display: flex
        align-items: stretch
        justify-content: space-between

    a
        &:hover
            img
                opacity: 0.6

.info
    padding: 90px 0
    display flex
    align-items: center

    &__logo,     &__span 
        font-size: 60px
        line-height: 50px
        font-weight: 400
        color: #00114c

    &__span 
        color: #434854
        font-weight: 300

    &__content
        margin-left: 60px

    &__title
        display: block
        font-size: 35px;
        line-height: normal
        color: #1d2029;
        font-weight: 400;
        margin-bottom 30px

    &__subtitle
        display: block
        font-size: 18px;
        color: #707480;
        font-weight: 400;
        margin-bottom 40px

    &__btn
        display: flex
        align-items: center
        justify-content: center

        font-size: 12px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #1d2029;
        font-weight: 600;
        text-align: center
        background: #fff
        max-width 220px
        height: 50px;
        border-radius: 2px;
        background-color: #ffffff;
        border: 1px solid #d9d9d9;
        
        &:hover
            background: #002043
            text-decoration: none
            color: #fff

.biblioteca
    position relative
    background: #002043

    display: flex

    @media(min-width :993px)
        .container
            flex: 1

    span 
        display: block
        margin-bottom 50px
        font-size: 18px;
        color: #ffffff;
        font-weight: 400;
        
        @media(min-width: 993px)
            padding-right 65px

    a
        display: flex
        align-items: center
        justify-content: center

        width: 292px;
        height: 50px;

        border-radius: 2px;
        background-color: #ffffff;
        border: 1px solid #d9d9d9;

        font-size: 12px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #1d2029;
        font-weight: 500;
        text-align: center;

        &:hover
            text-decoration: none
            background: #002043
            text-decoration: none
            color: #fff

    &__content
        max-width 630px
        padding: 80px 0
        margin-left: auto

    &__brand
        display: block
        margin-bottom 30px

    &__block
        display: flex

.chat   
    display: flex
    align-items: center
    justify-content: space-between  
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 30px
    margin: 30px 0

    span
        font-size: 25px;
        line-height: normal
        color: #1d2029;
        font-weight: 400;

    a
        display: flex
        align-items: center
        justify-content: center
        max-width: 322px;
        width 100%
        height: 50px;
        border-radius: 2px;
        background-color: #009649;
        border: 1px solid #d9d9d9;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 500;

        &:hover
            text-decoration: none
            opacity 0.6
    
.galeria
    padding: 50px 0
    display: flex
    align-items: center

    strong 
        display: block
        font-size: 35px;
        line-height: normal
        color: #1d2029;
        font-weight: 400;
        margin-bottom 25px

    span
        font-size: 18px;
        line-height: 24px;
        color: #707480;
        font-weight: 400;

    &__content
        max-width 270px

     &__ul
        display: flex
        align-items: stretch
        overflow: auto;
        flex-wrap: nowrap;
        width: 100%;
    
    &__item
        margin-right: 30px
    
        a
            &:hover
                opacity 0.6
    

.recomenda
    display: flex
    align-items: center

    padding: 30px 0

    &__content
        flex: 1 1 50%

        &--lef
            padding-right: 30px

        &--right
            strong  
                display: block
                font-size: 16px;
                line-height: 24px;
                color: #104580;
                font-weight: 500;

            a
                display: block
                font-size: 14px;
                line-height: 24px;
                color: #707480;
                font-weight: 400;

                &:hover
                    color: #104580

            .recomenda
                &__subtitle
                    font-size: 16px;
                    line-height: 24px;
                    color: #3a3a3a;
                    font-weight: 500;
                    
                &__ul
                    display: flex
                    align-items: stretch

                @media(min-width 993px)
                    &__item
                        flex: 0 0 50%
                        
                &__btn
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-top 30px
                    width 100%
                    height: 50px;
                    border-radius: 2px;
                    background-color: #104580;
                    border: 1px solid #d9d9d9;
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 24px;
                    color: #ffffff;
                    font-weight: 500;

                    &:hover
                        text-decoration: none 
                        background: #fff
                        color #104580
                    

    &__title 
        display: block
        font-size: 35px;
        line-height: 30px;
        color: #1d2029;
        font-weight: 500;
        margin-bottom 20px

    &__subtitle
        font-size: 16px;
        line-height: 24px;
        color: #3a3a3a;
        font-weight: 500;

    &__link
        display: block
        font-size: 16px;
        line-height: 24px;
        color: #104580;
        font-weight: 500;
        margin: 10px 0

    &__span    
        display: block
        font-size: 25px;
        line-height: 30px;
        color: #3a3a3a;
        font-weight: 500;
    
    &__block
        display: flex
        align-items: center
        margin-bottom 30px

        img
            margin-right 20px

        strong  
            margin-bottom 15px

.sobre-loja
    background: #f9f9f9
    padding: 60px 0

    .container__sobre-loja
        display: flex
        align-items: center
        justify-content: space-between

    strong 
        display: block
        margin-bottom 20px
        font-size: 35px;
        color: #1d2029;
        font-weight: 400;

    span 
        display: block
        margin-bottom 20px
        font-size: 18px;
        color: #707480;
        font-weight: 400;

    a
        display: flex
        align-items: center
        justify-content: center

        height: 50px;

        font-size: 12px;
        letter-spacing: 1px;
        line-height: 24px;

        font-weight: 500;

        border-radius: 2px;
        border: 1px solid #d9d9d9;
        
        &:hover
            text-decoration: none

    &__btnloja
        max-width: 239px;
        width 100%
        background: #104580
        color: #ffffff;

        &:hover
            background-color: #fff;
            color: #1d2029;

    &__btn
        margin-right: 20px
        max-width: 321px;
        width 100%
        background-color: #fff;
        color: #1d2029;
        
        &:hover
            background: #104580
            color: #ffffff;

    &__block
        flex: 1 1 auto
        padding: 0 15px

        &-img
            flex: 0 0 auto
            text-align: right 

    &__action
        display: flex
        align-items: stretch
        justify-content: center

.social
    padding: 30px 0
    display flex
    align-items: center 

    span
        display: block
        font-size: 20px;
        color: #707480;
        font-weight: 300;
        margin-bottom 3px

    &__block
        max-width 480px

    &__ul
        display: flex
        align-items: center
        margin: 25px 0 0

    &__item
        flex: 0 0 48px
        a
            display: flex
            align-items: center

            &:hover
               svg
                    fill: #104580
    
        svg
            width  20px
            height 20px

    &__list
        display flex   
        align-items: center
        overflow: auto;
        flex-wrap: nowrap;
        width: 100%;
    
    &__itens
        margin-right: 30px
        flex: 0 0 220px
        
        a
            display: flex
            align-items: center

            &:hover
                opacity 0.6
    

.footer
    border: 1px solid #d9d9d9;
    border-width 1px 0
    margin-bottom 40px

@media(max-width : 992px)
    .header
        &__container
            box-shadow:  320px 0 0 #ffffff, -100px 0 0 #104580

        &__mobile
            display: flex
            align-items: center
            flex: 1
            
            svg
                fill: #707480

    .breadcrumb
        display: none

    .info
        flex-wrap: wrap

        &__content
            margin 0
            margin-top 20px

    .biblioteca
        &__block
            display: none

        button
            margin: 0 auto

    .banners
        &__ul
            flex-wrap: wrap

        &__item
            flex: 0 0 50%
            padding: 3px

    .chat
        display: block

        span    
            display: block
            margin-bottom 20px  
            font-size: 15px;
            color: #1d2029;
            font-weight: 400;

        button
            width 100%  

    .recomenda
        flex-wrap: wrap

        &__content
            flex: 0 0 100%

            &--lef
                padding: 0
                margin-bottom 25px

        &__ul
            overflow: auto;
            flex-wrap: nowrap;
            width: 100%;
        
        &__item
            margin-right: 30px
            flex: 0 0 270px
           

    .sobre-loja
        .container__sobre-loja
            flex-wrap: wrap

            strong
                display: none

        &__block
            flex: 0 0 100%

            &-img
                order: 1

            &-text
                order: 2    

        button
            width 100%
            max-width 100%
            margin-bottom 10px

    .navigation
        position: fixed
        right  -500px
        width 286px
        top: 0
        bottom 0
        background: #fff
        padding: 30px 15px

        &__open

            .navigation
                opacity 1
                right  0
    .search
        display: none
        opacity 0
        visibility hidden

        &__form
            opacity 0
            visibility hidden

        &__btn
            flex: 1
            text-align: center
    .menu
        &__ul
            display: block
        
        &-btn__close
            position: absolute
            display: block
            left: -48px;
            top 0
            width: 48px;
            height: 48px;
            background: #fff
            border: none

    .sobre-loja
        &__action
            flex-wrap: wrap

        &__btn
            flex: 0 0 100%
            margin: 0 auto

        &__btnloja
            flex: 0 0 100%
            max-width 320px
            margin: 15px 

        &__block
            padding: 0px

            &-img
                margin-bottom 30px
    
    .galeria
        flex-wrap: wrap
        padding-left: 15px
        
        &__content
            max-width 100%

        &__ul
            margin: 30px 0

        &__item
            flex: 0 0 300px

    .social
        text-align: center

        span
            font-size: 15px;
            color: #707480;
            font-weight: 300;
            margin-bottom 4px

        &__ul
            justify-content: center

        &__list
            display: none